In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('SecretSkirmishKillFeed.csv')
df

,Player,KilledBy,Weapon,Distance,Storm Phase,Timestamp,Match,Placed,Kills
0,72hrs,NaN,NaN,NaN,9,NaN,1.0,1,2
1,Armond,72hrs,Shotgun,10.0,9,22:49,1.0,2,7
2,Ghoul,Armond,Rifle,3.0,9,22:40,1.0,3,4
3,Funkbomb,Ghoul,Shotgun,4.0,9,22:38,1.0,4,1
4,Aspect,Ghoul,Shotgun,3.0,9,22:31,1.0,5,7
5,Saf,Aspect,Shotgun,3.0,9,22:30,1.0,6,3
6,Anthony,Ghoul,Rifle,1.0,8,22:19,1.0,7,1
7,Kyzui,Ghoul,Smg,17.0,8,22:06,1.0,8,3
8,Sofa,Armond,Shotgun,8.0,8,22:04,1.0,9,1
9,Legedien,Saf,Rifle,6.0,8,22:02,1.0,10,0
10,Zexrow,72hrs,GasGrenade,31.0,8,22:00,1.0,11,1
11,LeNain,Anthony,Shotgun,4.0,7,21:33,1.0,12,2
12,Dmo,Sofa,Rifle,13.0,7,21:32,1.0,13,2
13,Vicaros,Aspect,Shotgun,10.0,7,21:25,1.0,14,1
14,Tyler15,Vicaros,Shotgun,6.0,7,21:14,1.0,15,3
15,Tocata,Saf,Rifle,25.0,7,21:11,1.0,16,4
16,Saint,Tyler15,Shotgun,7.0,7,21:10,1.0,17,0
17,Kevie1,Armond,Shotgun,6.0,7,21:09,1.0,18,3
18,Flossen,Armond,Trap,2.0,7,21:08,1.0,19,0
19,Ceice,NaN,OutsideSafeZone,NaN,7,21:05,1.0,20,0
20,Vivid,Armond,Shotgun,6.0,7,21:01,1.0,21,1
21,Tfue,Tocata,Smg,1.0,7,20:55,1.0,22,2
22,Vinny1x,Zexrow,Shotgun,1.0,7,20:47,1.0,23,3
23,MmateosS,Aspect,Smg,1.0,7,20:46,1.0,24,0
24,frostyZK,Vinny1x,Shotgun,5.0,6,20:45,1.0,25,3
25,Blind,frostyZK,Shotgun,9.0,6,20:44,1.0,26,2
26,TriggySoars,Aspect,Shotgun,4.0,6,20:29,1.0,27,1
27,Pearl,frostyZK,Smg,6.0,6,20:28,1.0,28,1
28,Jerm,Tocata,Smg,3.0,6,20:27,1.0,29,2
29,Snood,TriggySoars,Shotgun,1.0,6,20:08,1.0,30,0
...,...,...,...,...,...,...,...,...,...
570,Aydan,Ronin,Shotgun,10.0,2,9:25,6.0,71,1
571,Butter,Harmful,Shotgun,4.0,2,9:07,6.0,72,0
572,Dark,Kayuun,Shotgun,4.0,2,8:15,6.0,73,0
573,Bowman,OutLit,Shotgun,4.0,2,7:58,6.0,74,1
574,Dopaitv,Aydan,Shotgun,6.0,1,7:45,6.0,75,0
575,TriggySoars,Dvces,Shotgun,5.0,1,7:36,6.0,76,2
576,Thwifo,Pate1k,Rifle,2.0,1,7:34,6.0,77,0
577,Slobings,TriggySoars,Rifle,42.0,1,7:24,6.0,78,0
578,Kevie1,Xycik,Smg,4.0,1,7:17,6.0,79,1
579,Kiwiface,Fulmer,Shotgun,7.0,1,7:13,6.0,80,0
580,clarityG,Jerm,Smg,3.0,1,6:42,6.0,81,0
581,Tyler15,roatdw,Shotgun,5.0,1,6:29,6.0,82,0
582,Aipha,Dvces,Smg,3.0,1,6:14,6.0,83,0
583,Posick,NaN,FallDamage,NaN,1,6:08,6.0,84,0
584,Overpeek,Shmecked,Smg,1.0,1,6:02,6.0,85,0
585,Dmo,TriggySoars,Rifle,18.0,1,NaN,6.0,86,0
586,Aeghis,Sofa,Shotgun,6.0,1,4:25,6.0,87,0
587,tickrss,Cloakzy,Sniper,95.0,1,4:19,6.0,88,0
588,Nate Hill,Domentos,Shotgun,7.0,1,4:09,6.0,89,1
589,XXIF,JCudi,Grenade,14.0,1,4:07,6.0,90,0
590,Lyricen,Ceice,Shotgun,4.0,1,3:16,6.0,91,0
591,Blind,Nate Hill,Shotgun,6.0,1,3:08,6.0,92,0
592,Morgausse,Harmful,Grenade,63.0,1,2:57,6.0,93,0
593,Nickmercs,Fulmer,Smg,4.0,1,2:52,6.0,94,0
594,Baysoldier,McDonkle,Shotgun,5.0,1,2:45,6.0,95,0
595,Vicaros,Bowman,Shotgun,3.0,1,2:25,6.0,96,0
596,Chap,Ceice,Smg,1.0,1,2:10,6.0,97,0
597,Monstcr,Persecute,Smg,3.0,1,1:58,6.0,98,0
598,Kyzui,roatdw,Shotgun,3.0,1,1:52,6.0,99,0
599,Nistic,Kevie1,Smg,3.0,0,0:50,6.0,100,0

In [75]:
def query_player(player):
    return df[df['Player'] == player]

In [76]:
query_player('72hrs')

,Player,KilledBy,Weapon,Distance,Storm Phase,Timestamp,Match,Placed,Kills
0,72hrs,NaN,NaN,NaN,9,NaN,1.0,1,2
132,72hrs,Cloakzy,Shotgun,1.0,6,20:11,2.0,33,1
284,72hrs,ImMarksman,Rifle,76.0,1,5:52,3.0,85,0
343,72hrs,Aipha,Shotgun,3.0,5,18:21,4.0,44,4
456,72hrs,Nistic,Sniper,36.0,3,13:46,5.0,57,0
535,72hrs,Anthony,Smg,4.0,6,NaN,6.0,36,1

# Point Systems 
(Required columns: Player, Kills, Placed)

In [77]:
def sort_average_placement(df, ascending=True):
    return df.sort_values('Avg. Placement', ascending=ascending)

def sort_top_kills(df, ascending=False):
    return df.sort_values('Kills', ascending=ascending)

### Secret Skirmish

> Victory Royale: 3 Points
<br>2nd-3rd Place: 2 Points
<br>4th-10th Place: 1 Point
<br>7+ Eliminations: 3 Points
<br>5-6 Eliminations: 2 Points
<br>3-4 Eliminations: 1 Point

In [78]:
placement_points = {1:3,2:2,3:2,4:1,5:1,6:1,7:1,8:1,9:1,10:1}
kill_points = {0:0, 1:0, 2:0, 3:1, 4:1, 5:2, 6:2, 7:3, 8:4, 9:5, 10:6, 11:7, 12:8, 13:9, 14:10, 15:11, 16:12}

In [79]:
placements = pd.DataFrame(index = df['Player'].unique(), columns=['Points', 'Victory Royales', 'Kill Points', 'Kills', 'Placement Points']).fillna(0)

In [80]:
for i, row in df.iterrows():
    placements['Kills'][row['Player']] += row['Kills']
    placements['Points'][row['Player']] += kill_points[row['Kills']]
    placements['Kill Points'][row['Player']] += kill_points[row['Kills']]
    if (row['Placed'] < 11):
        placements['Points'][row['Player']] += placement_points[row['Placed']]
        placements['Placement Points'][row['Player']] += placement_points[row['Placed']]
    if (row['Placed']==1):
        placements['Victory Royales'][row['Player']] +=1
placements['Avg. Placement'] = df.groupby('Player')['Placed'].mean()
placements = placements.sort_values(['Points','Victory Royales','Kills','Avg. Placement'], ascending=[False, False, False, True]).reset_index()
placements.index+=1

In [92]:
placements[25:50]

,index,Points,Victory Royales,Kill Points,Kills,Placement Points,Avg. Placement
26,Funkbomb,149,0,20,4,129,35.666667
27,Blind,146,0,45,9,101,47.833333
28,72hrs,145,1,40,8,105,42.666667
29,Naga Ops,140,0,50,10,90,46.166667
30,Carose,138,0,40,8,98,42.833333
31,Vicaros,135,0,40,8,95,62.500000
32,Lanjok,134,0,15,3,119,34.166667
33,JTruth,128,0,30,6,98,50.500000
34,Devious,126,0,45,9,81,43.666667
35,Domentos,126,0,40,8,86,47.666667
36,Kevie1,124,0,25,5,99,50.166667
37,Daxor,123,0,25,5,98,48.166667
38,Cloakzy,121,0,20,4,101,37.666667
39,Poach,120,0,15,3,105,37.166667
40,Tocata,115,0,45,9,70,48.000000
41,Jerm,115,0,30,6,85,46.000000
42,Legedien,111,0,10,2,101,43.000000
43,CBKFlame,106,0,35,7,71,43.333333
44,Dvces,105,0,30,6,75,59.333333
45,TriggySoars,104,0,30,6,74,56.000000
46,frostyZK,103,0,25,5,78,43.166667
47,Nolanlul,102,0,15,3,87,47.166667
48,Persecute,102,0,25,5,77,41.500000
49,Punisher,100,0,15,3,85,43.833333
50,tickrss,100,0,35,7,65,55.166667

### ESL Katowice

[Ruleset](https://www.intelextrememasters.com/season-13/katowice/fortnite/wp-content/uploads/2019/02/Fortnite-Rulebook-IEM.pdf)

In [82]:
placement_points = {1:65,2:58,3:56,4:54,5:52,6:50,7:48,8:46,9:44,10:42,11:40,12:39,13:38,14:37,15:36,16:35,17:34,18:33,19:32,20:31,21:30,22:29,23:28,24:27,25:26,26:25,27:24,28:23,29:22,30:21,31:20,32:19,33:18,34:17,35:16,36:15,37:14,38:13,39:12,40:11,41:10,42:9,43:8,44:7,45:6,46:5,47:4,48:3,49:2,50:1}

In [83]:
placements = pd.DataFrame(index = df['Player'].unique(), columns=['Points', 'Victory Royales', 'Kill Points', 'Kills', 'Placement Points']).fillna(0)

In [84]:
for i, row in df.iterrows():
    placements['Kills'][row['Player']] += row['Kills']
    placements['Points'][row['Player']] += row['Kills']*5
    placements['Kill Points'][row['Player']] += row['Kills']*5
    if (row['Placed'] < 51):
        placements['Points'][row['Player']] += placement_points[row['Placed']]
        placements['Placement Points'][row['Player']] += placement_points[row['Placed']]
    if (row['Placed']==1):
        placements['Victory Royales'][row['Player']] +=1
placements['Avg. Placement'] = df.groupby('Player')['Placed'].mean()
placements = placements.sort_values('Points', ascending=False).reset_index()
placements.index+=1

In [86]:
placements[25:50]

,index,Points,Victory Royales,Kill Points,Kills,Placement Points,Avg. Placement
26,Funkbomb,149,0,20,4,129,35.666667
27,Blind,146,0,45,9,101,47.833333
28,72hrs,145,1,40,8,105,42.666667
29,Naga Ops,140,0,50,10,90,46.166667
30,Carose,138,0,40,8,98,42.833333
31,Vicaros,135,0,40,8,95,62.500000
32,Lanjok,134,0,15,3,119,34.166667
33,JTruth,128,0,30,6,98,50.500000
34,Devious,126,0,45,9,81,43.666667
35,Domentos,126,0,40,8,86,47.666667
36,Kevie1,124,0,25,5,99,50.166667
37,Daxor,123,0,25,5,98,48.166667
38,Cloakzy,121,0,20,4,101,37.666667
39,Poach,120,0,15,3,105,37.166667
40,Tocata,115,0,45,9,70,48.000000
41,Jerm,115,0,30,6,85,46.000000
42,Legedien,111,0,10,2,101,43.000000
43,CBKFlame,106,0,35,7,71,43.333333
44,Dvces,105,0,30,6,75,59.333333
45,TriggySoars,104,0,30,6,74,56.000000
46,frostyZK,103,0,25,5,78,43.166667
47,Nolanlul,102,0,15,3,87,47.166667
48,Persecute,102,0,25,5,77,41.500000
49,Punisher,100,0,15,3,85,43.833333
50,tickrss,100,0,35,7,65,55.166667

In [18]:
sort_average_placement(placements).head(5)

      index  Points  Victory Royales  Kills  Avg. Placement
1       Saf     347                1     20       13.833333
2    Bizzle     334                2     17       15.833333
6   Vinny1x     238                0      5       19.000000
10   LeNain     220                0      5       19.000000
3      Tfue     272                0     13       19.333333

In [19]:
sort_top_kills(placements).head(5)

     index  Points  Victory Royales  Kills  Avg. Placement
1      Saf     347                1     20       13.833333
4    Vivid     262                1     17       34.000000
2   Bizzle     334                2     17       15.833333
11  Pate1k     219                0     16       32.000000
16  Aspect     181                0     16       40.166667

### WSOE 

> 6 rounds
<br> 10 points per kill
<br>1 st = 100 pts
<br>2 nd = 90 pts
<br>3 rd = 80 pts
<br>4 th & 5th = 70 pts
<br>6 th â€“ 10th = 60 pts
<br>11th â€“ 15th = 50 pts
<br>16th â€“ 20th = 40 pts
<br>21st â€“ 30th = 30 pts
<br>31st â€“ 40th = 20 pts
<br>41st â€“ 49th = 10 pts
<br>50th = 0 points

In [28]:
placements = pd.DataFrame(index = df['Player'].unique(), columns=['Points', 'Victory Royales', 'Kill Points', 'Kills', 'Placement Points']).fillna(0)

In [29]:
placement_points = {1:100,2:90,3:80,4:70,5:70,6:60,7:60,8:60,9:60,10:60,11:50,12:50,13:50,14:50,15:50,16:40,17:40,18:40,19:40,20:40,21:30,22:30,23:30,24:30,25:30,26:30,27:30,28:30,29:30,30:30,31:20,32:20,33:20,34:20,35:20,36:20,37:20,38:20,39:20,40:20,41:10,42:10,43:10,44:10,45:10,46:10,47:10,48:10,49:10,50:10}

In [30]:
for i, row in df.iterrows():
    placements['Kills'][row['Player']] += row['Kills']
    placements['Points'][row['Player']] += row['Kills']*10
    placements['Kill Points'][row['Player']] += row['Kills']*10
    if (row['Placed'] < 51):
        placements['Points'][row['Player']] += placement_points[row['Placed']]
        placements['Placement Points'][row['Player']] += placement_points[row['Placed']]
    if (row['Placed']==1):
        placements['Victory Royales'][row['Player']] +=1
placements['Avg. Placement'] = df.groupby('Player')['Placed'].mean()
placements = placements.sort_values('Points', ascending=False).reset_index()
placements.index+=1

In [31]:
placements.head(15)

,index,Points,Victory Royales,Kill Points,Kills,Placement Points,Avg. Placement
1,Bizzle,530,2,170,17,360,15.833333
2,Saf,530,1,200,20,330,13.833333
3,Tfue,410,0,130,13,280,19.333333
4,Vivid,400,1,170,17,230,34.000000
5,Kyzui,380,0,120,12,260,30.000000
6,Pearl,360,1,140,14,220,33.166667
7,Pate1k,340,0,160,16,180,32.000000
8,Vinny1x,330,0,50,5,280,19.000000
9,Ronaldo,320,0,130,13,190,31.666667
10,Psalm,310,0,80,8,230,25.333333
11,Zexrow,310,0,70,7,240,21.166667
12,LeNain,310,0,50,5,260,19.000000
13,Armond,310,0,100,10,210,28.166667
14,Aspect,300,0,160,16,140,40.166667
15,Shmecked,300,0,100,10,200,28.166667

In [32]:
sort_average_placement(placements).head(5)

,index,Points,Victory Royales,Kill Points,Kills,Placement Points,Avg. Placement
2,Saf,530,1,200,20,330,13.833333
1,Bizzle,530,2,170,17,360,15.833333
12,LeNain,310,0,50,5,260,19.000000
8,Vinny1x,330,0,50,5,280,19.000000
3,Tfue,410,0,130,13,280,19.333333

In [33]:
sort_top_kills(placements).head(5)

,index,Points,Victory Royales,Kill Points,Kills,Placement Points,Avg. Placement
2,Saf,530,1,200,20,330,13.833333
1,Bizzle,530,2,170,17,360,15.833333
4,Vivid,400,1,170,17,230,34.000000
14,Aspect,300,0,160,16,140,40.166667
7,Pate1k,340,0,160,16,180,32.000000